{% extends 'base.html' %}

{% block sidebar %}
<div id='sidebar'> 
  <div class='search'> 
    <form accept-charset='utf-8' action='search' method='post'> 
      <fieldset> 
        <label for='search_field'>Search</label> 
        <input id='search_field' name='search' type='text' value='' /> 
      </fieldset> 
    </form> 
  </div> 
  <h3>Manage Compute</h3> 
  <ul class='sub_nav'> 
    <li><a href='/dashboard/compute/'>Dashboard</a></li>
    <li><a href='/dashboard/compute/instances/'>Manage Instances</a></li>
    <li><a href='/dashboard/compute/volumes/'>Manage Volumes</a></li>
    <li><a href='/dashboard/compute/security/'>Manage Security</a></li>
    <li><a href='/dashboard/compute/vpn/'>Manage VPN</a></li>
  </ul> 
</div> 
{% endblock sidebar %}
