#sidebar
  .search
    %form{"accept-charset" => "utf-8", :action => "search", :method => "post"}
      %fieldset
        %label{:for => "search_field"} Search
        %input#search_field{:name => "search", :type => "text", :value => ""}/
  %h3 Manage Compute
  %ul.sub_nav
    %li
      %a{:href => "/"} Dashboard
    %li
      %a{:href => "/manage_instances"} Manage Instances
    %li
      %a{:href => "/manage_volumes"} Manage Volumes
    %li
      %a{:href => "/manage_security"} Manage Security
    %li
      %a{:href => "/manage_vpn"} Manage VPN
  %h3 Manage Object Store
  %ul.sub_nav
    %li
      %a{:href => "/objectstore_dashboard"} Dashboard
    %li
      %a{:href => "/manage_accounts"} Manage Accounts
    %li
      %a{:href => "/manage_rings"} Manage Rings

#main
  #page_header
    %h2
      %span Dashboard:
      Cloud Overview
    %p.desc
      %span &mdash;
      This is the general view of your cloud.
  .main_content
    %ul.status_box.good
      %li.status.block
        %span Status:
        Awesome
      %li.block
        %p.overview 
          100
          %span Cores
        %p.used
          22
          %span.label Used
        %p.avail
          78
          %span.label Avail
      %li.block
        %p.overview
          256
          %span GB Ram
        %p.used
          200
          %span.unit GB
          %span.label Used
        %p.avail
          56
          %span.unit GB
          %span.label Avail
      %li.block.last
        %p.overview
          100
          %span TB Disk
        %p.used
          30
          %span.unit TB
          %span.label Used
        %p.avail
          56
          %span.unit TB
          %span.label Avail
    #block_grid
      .dash_block
        .table_title.narrow
          %h3 Services
        %table
          %tr
            %th Service Name
            %th Status
          %tr.odd.good
            %td Nova API
            %td Available
          %tr.even.good
            %td VNC Proxy
            %td Available
          %tr.odd.good
            %td Scheduler
            %td Available
          %tr.even.good
            %td RabbitMQ
            %td Available
          %tr.odd.good
            %td MySQL
            %td Available

      .dash_block
        .table_title.narrow
          %h3 Recent Notifications
        %table
          %tr
            %th{:colspan => 2} Summary
          %tr.odd
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
          %tr.even
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
          %tr.odd
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
          %tr.even
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
            %tr.odd
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
            %tr.even
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
            %tr.odd
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
            %tr.even
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report

      .dash_block
        .table_title.narrow
          %h3 Services
        %table
          %tr
            %th Service Name
            %th Status
          %tr.odd.good
            %td Nova API
            %td Available
          %tr.even.good
            %td VNC Proxy
            %td Available
          %tr.odd.good
            %td Scheduler
            %td Available
          %tr.even.good
            %td RabbitMQ
            %td Available
          %tr.odd.good
            %td MySQL
            %td Available
          
      .dash_block
        .table_title.narrow
          %h3 Recent Notifications
        %table
          %tr
            %th{:colspan => 2} Summary
          %tr.odd
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
          %tr.even
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
          %tr.odd
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
          %tr.even
            %td host001 is low on RAM
            %td.report
              %a{:href => "#"} View Report
            %tr.odd
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
            %tr.even
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
            %tr.odd
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
            %tr.even
              %td host001 is low on RAM
              %td.report
                %a{:href => "#"} View Report
