#sidebar
  .search
    %form{"accept-charset" => "utf-8", :action => "search", :method => "post"}
      %fieldset
        %label{:for => "search_field"} Search
        %input#search_field{:name => "search", :type => "text", :value => ""}/
  %h3 Manage Objectstore
  %ul.sub_nav
    %li
      %a{:href => "/objectstore_dashboard"} Dashboard
    %li
      %a.active{:href => "/manage_accounts"} Manage Accounts
    %li
      %a{:href => "/manage_devices"} Manage Devices
    %li
      %a{:href => "/manage_rings"} Manage Rings
#main
  #page_header
    %h2
      %span Dashboard:
      Objectstore Accounts
    %p.desc
      %span &mdash;
      Manage Swift Accounts.
    %a.more_link{:href => "#"} More Info
    #more
      .block
        %h3 Add New Device
        %p Select an inactive device to be added to a ring.
        %a.fancy_btn{:href => "#"}
          %img{:alt => "Launch", :height => "17", :src => "images/button/launch.png", :width => "16"}/
          %span Add New Device
      .block
        %h3 Add New Ring
        %p Select a group of nodes of which you would like to create a new ring.
        %a.fancy_btn{:href => "#"}
          %img{:alt => "Launch", :height => "17", :src => "images/button/launch.png", :width => "16"}/
          %span Add New Ring
      .block.last
        %h3 Distribute Ring
        %p Copy the ring to all swift nodes so they are in sync.
        %a.fancy_btn{:href => "#"}
          %img{:alt => "Launch", :height => "17", :src => "images/button/launch.png", :width => "16"}/
          %span Organize Rings
  .main_content
    .table_title.wide
      %h3 Node Health
      .search
        %form{:action => "", :method => "post"}
          %fieldset
            %label{:for => "table_search"} Search
            %input#table_search{:name => "search", :type => "text", :value => ""}/
    %table.wide
      %tr
        %th ID
        %th Weight
        %th Zone
        %th Port
        %th Device
        %th Meta
        %tr.odd.bad
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.even.bad
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.odd.medium
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.even.medium
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.odd.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.even.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.odd.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.even.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.odd.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.even.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.odd.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
        %tr.even.good
          %td node001
          %td 80%
          %td west
          %td 11000
          %td sdb1
          %td n/a
