#sidebar
  .search
    %form{"accept-charset" => "utf-8", :action => "search", :method => "post"}
      %fieldset
        %label{:for => "search_field"} Search
        %input#search_field{:name => "search", :type => "text", :value => ""}/
  %h3 Manage Objectstore
  %ul.sub_nav
    %li
      %a{:href => "/objectstore_dashboard"} Dashboard
    %li
      %a.active{:href => "/manage_accounts"} Manage Accounts
    %li
      %a{:href => "/manage_rings"} Manage Rings
#main
  #page_header
    %h2
      %span Dashboard:
      Objectstore Accounts
    %p.desc
      %span &mdash;
      Manage Swift Accounts.
  .main_content
    .table_title.wide
      %h3 Accounts
      .search
        %form{:action => "", :method => "post"}
          %fieldset
            %label{:for => "table_search"} Search
            %input#table_search{:name => "search", :type => "text", :value => ""}/
    %table.wide
      %tr
        %th Account ID
        %th User
        %th Actions
      %tr.odd
        %td AUTH_8980f74b1cda41e483cbe0a925f448a9
        %td jakedahn          
        %td.actions
          %ul
            %li
              %a{:href => "#"} Delete
            %li
              %a{:href => "#"} Suspend
      %tr.even
        %td AUTH_8980f74b1cda41e483cbe0a925f448a9
        %td jakedahn
        %td.actions
          %ul
            %li
              %a{:href => "#"} Delete
            %li
              %a{:href => "#"} Suspend
      %tr.odd
        %td AUTH_8980f74b1cda41e483cbe0a925f448a9
        %td jakedahn          
        %td.actions
          %ul
            %li
              %a{:href => "#"} Delete
            %li
              %a{:href => "#"} Suspend
      %tr.even
        %td AUTH_8980f74b1cda41e483cbe0a925f448a9
        %td jakedahn
        %td.actions
          %ul
            %li
              %a{:href => "#"} Delete
            %li
              %a{:href => "#"} Suspend
        