{% extends 'objectstore/base.html' %}

{% block main_content %}

  <div id='page_header'> 
    <h2><span>Object Store:</span> Accounts</h2> 
    <p class='desc'><span>&mdash;</span> Manage Swift Accounts.</p> 
  </div> 

  <div class='main_content'> 
    <div class='table_title wide'> 
      <h3>Accounts</h3> 
      <div class='search'> 
        <form action='' method='post'> 
          <fieldset> 
            <label for='table_search'>Search</label> 
            <input id='table_search' name='search' type='text' value='' /> 
          </fieldset> 
        </form> 
      </div> 
    </div> 
    <table class='wide'> 
      <tr> 
        <th>Account ID</th> 
        <th>User</th> 
        <th>Actions</th> 
      </tr> 
      <tr class='odd'> 
        <td>AUTH_8980f74b1cda41e483cbe0a925f448a9</td> 
        <td>jakedahn</td> 
        <td class='actions'> 
          <ul> 
            <li> 
              <a href='#'>Delete</a> 
            </li> 
            <li> 
              <a href='#'>Suspend</a> 
            </li> 
          </ul> 
        </td> 
      </tr> 
      <tr class='even'> 
        <td>AUTH_8980f74b1cda41e483cbe0a925f448a9</td> 
        <td>jakedahn</td> 
        <td class='actions'> 
          <ul> 
            <li> 
              <a href='#'>Delete</a> 
            </li> 
            <li> 
              <a href='#'>Suspend</a> 
            </li> 
          </ul> 
        </td> 
      </tr> 
      <tr class='odd'> 
        <td>AUTH_8980f74b1cda41e483cbe0a925f448a9</td> 
        <td>jakedahn</td> 
        <td class='actions'> 
          <ul> 
            <li> 
              <a href='#'>Delete</a> 
            </li> 
            <li> 
              <a href='#'>Suspend</a> 
            </li> 
          </ul> 
        </td> 
      </tr> 
      <tr class='even'> 
        <td>AUTH_8980f74b1cda41e483cbe0a925f448a9</td> 
        <td>jakedahn</td> 
        <td class='actions'> 
          <ul> 
            <li> 
              <a href='#'>Delete</a> 
            </li> 
            <li> 
              <a href='#'>Suspend</a> 
            </li> 
          </ul> 
        </td> 
      </tr> 
    </table> 
  </div> 

{% endblock main_content %}


