{% extends 'objectstore/base.html' %}

{% block main_content %}

  <div id='page_header'> 
    <h2><span>Object Store:</span> Dashboard</h2> 
    <p class='desc'><span>&mdash;</span> This is the general view of objectstore.</p> 
  </div> 

  <div class='main_content'> 
    <div class='dash_block'> 
      <div class='table_title narrow'> 
        <h3>Health</h3> 
        <div class='search'> 
          <form action='' method='post'> 
            <fieldset> 
              <label for='table_search'>Search</label> 
              <input id='table_search' name='search' type='text' value='' /> 
            </fieldset> 
          </form> 
        </div> 
      </div> 
      <table id='health_table'> 
        <tr> 
          <th>Hostname</th> 
          <th colspan='3'>Health</th> 
          <tr class='odd bad'> 
            <td>host0003</td> 
            <td colspan='3'> 
              bad
              <a class='more_link' href='#'>More Info</a> 
            </td> 
          </tr> 
          <tr class='more'> 
            <th>Load</th> 
            <th>RAM</th> 
            <th>Disk</th> 
            <th>VMs</th> 
          </tr> 
          <tr class='more'> 
            <td>0.16, 0.23, 0.31</td> 
            <td>7.3gb of 12gb</td> 
            <td>752gb of 1200gb</td> 
            <td>17</td> 
          </tr> 
        </tr> 
        <tr class='even bad'> 
          <td>host0006</td> 
          <td colspan='3'> 
            bad
            <a class='more_link' href='#'>More Info</a> 
          </td> 
        </tr> 
        <tr class='more'> 
          <th>Load</th> 
          <th>RAM</th> 
          <th>Disk</th> 
          <th>VMs</th> 
        </tr> 
        <tr class='more'> 
          <td>0.16, 0.23, 0.31</td> 
          <td>7.3gb of 12gb</td> 
          <td>752gb of 1200gb</td> 
          <td>17</td> 
        </tr> 
        <tr class='odd medium'> 
          <td>host0005</td> 
          <td colspan='3'> 
            medium
            <a class='more_link' href='#'>More Info</a> 
          </td> 
        </tr> 
        <tr class='more'> 
          <th>Load</th> 
          <th>RAM</th> 
          <th>Disk</th> 
          <th>VMs</th> 
        </tr> 
        <tr class='more'> 
          <td>0.16, 0.23, 0.31</td> 
          <td>7.3gb of 12gb</td> 
          <td>752gb of 1200gb</td> 
          <td>17</td> 
        </tr> 
        <tr class='even medium'> 
          <td>host0005</td> 
          <td colspan='3'> 
            medium
            <a class='more_link' href='#'>More Info</a> 
          </td> 
        </tr> 
        <tr class='more'> 
          <th>Load</th> 
          <th>RAM</th> 
          <th>Disk</th> 
          <th>VMs</th> 
        </tr> 
        <tr class='more'> 
          <td>0.16, 0.23, 0.31</td> 
          <td>7.3gb of 12gb</td> 
          <td>752gb of 1200gb</td> 
          <td>17</td> 
        </tr> 
        <tr class='odd good'> 
          <td>host0001</td> 
          <td colspan='3'> 
            good
            <a class='more_link' href='#'>More Info</a> 
          </td> 
        </tr> 
        <tr class='more'> 
          <th>Load</th> 
          <th>RAM</th> 
          <th>Disk</th> 
          <th>VMs</th> 
        </tr> 
        <tr class='more'> 
          <td>0.16, 0.23, 0.31</td> 
          <td>7.3gb of 12gb</td> 
          <td>752gb of 1200gb</td> 
          <td>17</td> 
        </tr> 
        <tr class='even good'> 
          <td>host0002</td> 
          <td colspan='3'> 
            good
            <a class='more_link' href='#'>More Info</a> 
          </td> 
        </tr> 
        <tr class='more'> 
          <th>Load</th> 
          <th>RAM</th> 
          <th>Disk</th> 
          <th>VMs</th> 
        </tr> 
        <tr class='more'> 
          <td>0.16, 0.23, 0.31</td> 
          <td>7.3gb of 12gb</td> 
          <td>752gb of 1200gb</td> 
          <td>17</td> 
        </tr> 
      </table> 
    </div> 
    <div class='dash_block'> 
      <div class='table_title narrow'> 
        <h3>Account Activity</h3> 
      </div> 
      <table id='account_activity'> 
        <tr> 
          <th>User</th> 
          <th>Bandwidth</th> 
          <th>Actions</th> 
        </tr> 
        <tr class='odd'> 
          <td>jakedahn</td> 
          <td>23GB</td> 
          <td class='actions'> 
            <ul> 
              <li> 
                <a href='#'>Warn</a> 
              </li> 
              <li> 
                <a href='#'>Edit</a> 
              </li> 
            </ul> 
          </td> 
        </tr> 
        <tr class='even'> 
          <td>foo</td> 
          <td>20GB</td> 
          <td class='actions'> 
            <ul> 
              <li> 
                <a href='#'>Warn</a> 
              </li> 
              <li> 
                <a href='#'>Edit</a> 
              </li> 
            </ul> 
          </td> 
        </tr> 
        <tr class='odd'> 
          <td>jakedahn</td> 
          <td>23GB</td> 
          <td class='actions'> 
            <ul> 
              <li> 
                <a href='#'>Warn</a> 
              </li> 
              <li> 
                <a href='#'>Edit</a> 
              </li> 
            </ul> 
          </td> 
        </tr> 
        <tr class='even'> 
          <td>foo</td> 
          <td>20GB</td> 
          <td class='actions'> 
            <ul> 
              <li> 
                <a href='#'>Warn</a> 
              </li> 
              <li> 
                <a href='#'>Edit</a> 
              </li> 
            </ul> 
          </td> 
        </tr> 
      </table> 
    </div> 
  </div> 

{% endblock main_content %}


